@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

:root {
  --color-BrightBlue: hsl(220, 98%, 61%);
  --color-Background: linear-gradient(135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));

  --todoContainer-z-index: 9;
  --loading-z-index: 10;  
}

body {
  font-size: 18px;
  font-family: 'Josefin Sans', sans-serif;

  background-color: var(--color-VeryDarkBlue);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button, input {
  outline: none;
  border: none;
  font-size: inherit;
  font-family: inherit;
}

@media screen and (width <= 425px) {
  body {
    font-size: 16px;
  }
}

@media screen and (width >= 1440px) {
  body {
    font-size: 19.059px;
  }
}

@media screen and (width >= 2560px) {
  body {
    font-size: 33.883px;
  }
}