.todo-state-btn {
  font-size: inherit;

  text-transform: capitalize;
  font-family: inherit;
  font-weight: inherit;
  
  background-color: inherit;
  color: inherit;

  &.todo-state-btn--active {
    color: var(--color-BrightBlue);
  }
  
  &.todo-state-btn:hover {
    color: var(--color-LightGrayishBlueHover);
    cursor: pointer;
  }
}
