.todo-state-btn {
  font-size: inherit;

  background-color: inherit;
  color: inherit;
  text-transform: capitalize;
  font-family: inherit;

  &.todo-state-btn--active {
    color: var(--color-BrightBlue);
  }
  
  &.todo-state-btn:hover {
    color: var(--color-VeryLightGray);
    cursor: pointer;
  }
}
