.main {
  position: relative;

  & > img {
    width: 100%;
    height: 300px;
  }  
}

.todo-container {
  width: max(400px, 37.5%);
  padding-bottom: 10vh;
  
  position: absolute;
  top: 25%;
  left: 31.25%;
}

.todo-title {
  font-size: 2.5rem;
  margin-bottom: 5vh;

  color: var(--color-VeryLightGray);
  letter-spacing: 15px;
  position: relative;

  & .theme-btn {
    background-color: inherit;
    position: absolute;
    top: 0;
    right: 0;
  }
}  

@media screen and (max-width: 768px) {
  .todo-container {
    width: 75%;
    left: 12.5%;
  }
}

@media screen and (max-width: 425px) {
  .main {
    font-size: 16px;

    & > img {
      height: 200px;
    }
  }
  
  .todo-container {
    width: 86%;

    left: 7%;
    top: 23%;
  }

  .todo-title {
    font-size: 1.6rem;
    letter-spacing: 10px;

    & img {
      width: 1.5em;
      height: 1.5em;
    }
  }
}