.todo-states {
  font-size: 14px;
  border-top: 1px solid var(--color-VeryDarkGrayishBlue1);

  display: flex;
  border-end-end-radius: 5px;
  border-end-start-radius: 5px;
  font-weight: bold;

  color: var(--color-DarkGrayishBlue);
  background-color: var(--color-VeryDarkDesaturatedBlue);
  box-shadow: 0px 20px 40px -20px var(--color-shadow);
}

.todo-states__count {
  margin-right: auto;    
  padding: 1.25em 1.7em;

  background-color: var(--color-VeryDarkDesaturatedBlue);
  box-shadow: 0 5px 10px -10px var(--color-shadow);
}

.todo-states__clear-btn {
  margin-left: auto;    
  padding: 1.25em 1.7em;
  padding-left: 0;
  
  font-family: inherit;
  font-weight: inherit;
  background-color: var(--color-VeryDarkDesaturatedBlue);
  color: inherit;
  box-shadow: 0 5px 10px -10px var(--color-shadow);

  &:hover {
    color: var(--color-LightGrayishBlueHover);
    cursor: pointer;
  }
}

.todo-states__btns {  
  display: flex;
  justify-content: center;
  background-color: var(--color-VeryDarkDesaturatedBlue);    

  & > :nth-child(2) {
    margin: 0 1em;
  }
}

@media screen and (max-width: 425px) {
  .todo-states {  
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 47px);
    grid-template-areas: 
    "count clear"
    "todoStateBtn todoStateBtn";
    row-gap: 1.2em;
    box-shadow: none;
    background-color: transparent;
  }

  .todo-states__count {
    grid-area: count;
    font-size: 12px;
    width: 100%;
    height: 100%;
    padding: 0;
    padding-left: 1.6em;

    display: flex;
    align-items: center;
    border-end-start-radius: 5px;
  }
  
  .todo-states__btns {
    grid-area: todoStateBtn;
    width: 100%;
    height: 100%;

    border-radius: 5px;
    box-shadow: 0px -10px 40px -20px var(--color-shadow);

    & > button {
      margin: 0;
      font-weight: bold;
    }
  }

  .todo-states__clear-btn {
    grid-area: clear;
    font-size: 12px;
    width: 100%;
    height: 100%;
    padding: 0;
    padding-right: 1.6em;

    border-end-end-radius: 5px;
    text-align: end;
  }
}