.todo-list {
  background-color: var(--color-VeryDarkDesaturatedBlue); 
}

.todo-list__item {
  display: flex;
  color: var(--color-LightGrayishBlue);
  border-bottom: 1px solid var(--color-VeryDarkGrayishBlue);  

  &:hover .todo-list__item-delete > img {
    display: block;
  }

  &:hover {
    cursor: pointer;
  }
}

.todo-list__item-completed { 
  width: 25px;
  height: 25px;
  margin: 1.05em 1.4em 1.05em 1.25em;
  
  border-radius: 100%;
  display: flex;
  background-color: var(--color-VeryDarkGrayishBlue);

  &.todo-list__item-completed--bg-active {
    background-image: var(--color-Background);
  }

  &:hover {
    background-image: var(--color-Background);
  }  

  & .completed-btn {
    width: 23px;
    height: 23px;
    margin: auto;
  
    border-radius: 100%;
    background-color: var(--color-VeryDarkDesaturatedBlue);
  
    &.completed-btn--bg-active {
      background-image: var(--color-Background);
    }
  
    &:hover {
      cursor: pointer;
    }
  }
}

.todo-list__item-title {
  width: 70%;
  
  display: flex;
  align-items: center;

  &.todo-list__item-title--completed {
    text-decoration: line-through;
    color: var(--color-VeryDarkGrayishBlueText);
  }
}

.todo-list__item-delete {
  margin-right: 1.7em;
  margin-left: auto;

  background-color: inherit;
  text-align: left;
}

@media screen and (max-width: 425px) {
  .todo-list__item-completed {
    width: 20px;
    height: 20px;
    margin: 1.35em 1.05em 1.35em 1.8em;

    & .completed-btn {
      width: 18px;
      height: 18px;
    }
  }

  .todo-list__item-delete {
    font-size: inherit;
    margin-right: 1.6em;

    & > img {

      width: 1em;
      height: 1em;
    }
  }
}